<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
    <script src="./javascripts/js.js" charset="utf-8"></script>
    <title>ContaAzul</title>
  </head>
  <body>
    <div class="main-div">
      <img src="./images/hero.jpg" class="img-fluid" width="100%">
      <div class="centered">
        <div class="divHide">
          <h2 class="main-text-font text-center font-weight-bold"><strong>ContaAzul</strong></h2> <br> <br>
          <h1 class="main-text-font text-center font-weight-light text-nowrap">Um evento que vai marcar o mercado.</h1>
          <h1 class="main-text-font text-center font-weight-light text-nowrap">Seja o primeiro a saber de tudo.</h1>&nbsp
          <h4 class="main-text-font text-center text-nowrap"><small style="color: white;">Para contadores de olho no futuro, a ContaAzul realiza um evento nacional</small></h4>
          <h4 class="main-text-font text-center text-nowrap"><small style="color: white;">sobre as oportunidades e tendências do mercado contábil.</small></h4>

          <div style="text-center: center">
            <div class="text-center">
              <br>
              <div class="">
                <input class="form-control input-lg" placeholder="Nome" name="nomeCliente" required>
              </div>
            </div>
            <br>
            <div class="text-center">
              <div class="text-center">
                <input class="form-control input-lg" placeholder="E-mail" type="email" name="emailCliente" required>
              </div>
            </div>
            <div class="text-center">
              <button class="btn btn-success btn-xl buttonTrigger" style="margin-top: 1%" type="button">Me avise</button>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div>
      <br><br><br>
      <h1 class="blue-text second-div-text text-center text-nowrap">Sua empresa precisa de controle financeiro?</h1>
      <h1 class="blue-text second-div-text text-center text-nowrap">Centralize tudo em um único sistema</h1>
      <br><br>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <figure class="figure">
              <div class="text-center">
                <img src="./images/contasapagar.svg" class="figure-img img-fluid rounded">
                <figcaption class="text-center">
                  <p>
                    <h1 class="text-nowrap second-div-text font-weight-light">
                      <small class="almost-blue-text">Contas a pagar e a receber</small>
                    </h1>
                  </p>
                  <spam class="under-blue main-text-font">
                  <h5>
                    <spam class="text-nowrap">Mantenha as contas a pagar e a receber</spam>
                    <br>
                    <spam class="text-nowrap">sempre atualizadas.</spam>
                  </h5>
                </figcaption>
              </div>
            </figure>
          </div>
          <div class="col-md-4">
            <figure class="figure">
              <div class="text-center">
                <img src="./images/notafiscal.svg" class="figure-img img-fluid rounded">
                <figcaption class="text-center">
                  <p>
                    <h1 class="text-nowrap second-div-text font-weight-light">
                      <small class="almost-blue-text">Nota fiscal de produto e serviço</small>
                    </h1>
                  </p>
                  <spam class="under-blue main-text-font">
                  <h5>
                    <spam class="text-nowrap">Emissor de nota fiscal integrado com o</spam>
                    <br>
                    <spam class="text-nowrap">processo de vendas.<spam>
                  </h5>
                </figcaption>
              </div>
            </figure>
          </div>
          <div class="col-md-4">
            <figure class="figure">
              <div class="text-center">
                <img src="./images/boleto.svg" class="figure-img img-fluid rounded">
                <figcaption class="text-center">
                  <p>
                    <h1 class="text-nowrap second-div-text font-weight-light">
                      <small class="almost-blue-text">Nota fiscal de produto e serviço</small>
                    </h1>
                  </p>
                  <spam class="under-blue main-text-font">
                  <h5>
                    <spam class="text-nowrap">Emita e envie boletos registrados para os seus</spam>
                    <br>
                    <spam class="text-nowrap">clientes em poucos segundos.<spam>
                  </h5>
                </figcaption>
              </div>
            </figure>
          </div>
          <br>
          </div>
        </div>
        <br>
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <figure class="figure">
                <div class="text-center">
                  <img src="./images/fluxodecaixa.svg" class="figure-img img-fluid rounded">
                  <figcaption class="text-center">
                    <p>
                      <h1 class="text-nowrap second-div-text font-weight-light">
                        <small class="almost-blue-text">Fluxo de caixa diário e mensal</small>
                      </h1>
                    </p>
                    <spam class="under-blue main-text-font">
                    <h5>
                      <spam class="text-nowrap">Movimentações de entradas e saídas, geração</spam>
                      <br>
                      <spam class="text-nowrap">de caixa e o saldo do caixa por período.<spam>
                    </h5>
                  </figcaption>
                </div>
              </figure>
            </div>
            <div class="col-md-4">
              <figure class="figure">
                <div class="text-center">
                  <img src="./images/integracao_bancaria.svg" class="figure-img img-fluid rounded">
                  <figcaption class="text-center">
                    <p>
                      <h1 class="text-nowrap second-div-text font-weight-light">
                        <small class="almost-blue-text">Integração bancária</small>
                      </h1>
                    </p>
                    <spam class="under-blue main-text-font">
                    <h5>
                      <spam class="text-nowrap">A integração bancária sincroniza lançamentos</spam>
                      <br>
                      <spam class="text-nowrap">do ContaAzul com o seu banco.<spam>
                    </h5>
                  </figcaption>
                </div>
              </figure>
            </div>
            <div class="col-md-4">
              <figure class="figure">
                <div class="text-center">
                  <img src="./images/integracao_contabil.svg" class="figure-img img-fluid rounded">
                  <figcaption class="text-center">
                    <p>
                      <h1 class="text-nowrap second-div-text font-weight-light">
                        <small class="almost-blue-text">Integração contábil</small>
                      </h1>
                    </p> <spam class="under-blue main-text-font">
                    <h5>
                      <spam class="text-nowrap">Gaste menos tempo com a burocracia contábil.</spam>
                      <br>
                      <spam class="text-nowrap">Envie seus documentos digitalmente e interaja</spam>
                      <br>
                      <spam class="text-nowrap">de forma ágil com o contador.</spam>
                    </h5>
                  </figcaption>
                </div>
              </figure>
            </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <figure class="figure">
              <div class="text-center">
                <img src="./images/conciliacao.svg">
                <figcaption class="text-center">
                  <p>
                    <h1 class="text-nowrap second-div-text font-weight-light">
                      <small class="almost-blue-text">Conciliação bancária</small>
                    </h1>
                  </p> <spam class="under-blue main-text-font">
                  <h5>
                    <spam class="text-nowrap">Economize até 20h por mês com a Conciliação</spam>
                    <br>
                    <spam class="text-nowrap">Bancária do ContaAzul</spam>
                  </h5>
                </figcaption>
              </div>
            </figure>
          </div>
          <div class="col-md-4">
            <figure class="figure">
              <div class="text-center">
                <img src="./images/faturamentoporcliente.svg">
                <figcaption class="text-center">
                  <p>
                    <h1 class="text-nowrap second-div-text font-weight-light">
                      <small class="almost-blue-text">Faturamento por cliente</small>
                    </h1>
                  </p> <spam class="under-blue main-text-font">
                  <h5>
                    <spam class="text-nowrap">A integração bancária sincroniza lançamentos</spam>
                    <br>
                    <spam class="text-nowrap">do ContaAzul com o seu banco.</spam>
                  </h5>
                </figcaption>
              </div>
            </figure>
          </div>
          <div class="col-md-4">
            <figure class="figure">
              <div class="text-center">
                <img src="./images/dre.svg">
                <figcaption class="text-center">
                  <p>
                    <h1 class="text-nowrap second-div-text font-weight-light">
                      <small class="almost-blue-text">DRE gerencial</small>
                    </h1>
                  </p> <spam class="under-blue main-text-font">
                  <h5>
                    <spam class="text-nowrap">Relatório de receitas, custos e despesas para</spam>
                    <br>
                    <spam class="text-nowrap">entender a saúde financeira da empresa.</spam>
                  </h5>
                </figcaption>
              </div>
            </figure>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            ContaAzul
          </div>
          <div class="col-md-4">
            <p class="text-center">&copy 2016 Direitos Reservados <a class="text-nowrap" href="#" style="text-decoration: none">Termos de Uso - Política de Privacidade</a></p>
          </div>
          <div class="col-md-4">
            <div class="container">
              <ul class="nav navbar-nav text-center" style="margin-top: -2%">
                 <li class="facebook"><a href="#" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook fa-lg"></i></a></li>
                 <li class="twitter"><a href="#" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter fa-lg"></i></a></li>
                 <li class="instagram"><a href="#" data-toggle="tooltip" title="Instagram"><i class="fa fa-instagram fa-lg"></i></a></li>
                 <li class="linkedin"><a href="#" data-toggle="tooltip" title="LinkedIn"><i class="fa fa-linkedin fa-lg"></i></a></li>
               </ul>
              </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
